:root {
  --light-color: rgb(222, 222, 222);
  --dark-color: rgb(11, 11, 11);
  --light-color-muted: rgb(222, 222, 222, 0.6);
  --dark-color-muted: rgb(11, 11, 11, 0.6);
}
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-color-muted);

  > div {
    flex: 1;
  }

  overflow: hidden;

  > form {
    gap: 16px;
    display: flex;
    section {
      gap: 5px;
      display: flex;
      flex-direction: column;
    }
    position: fixed;
    top: 24px;
    left: 24px;

    input {
      min-height: 32px;
      color: var(--light-color);
      background-color: var(--dark-color-muted);
      border: 2px solid var(--light-color-muted);
      border-radius: 4px;
      &[type="text"] {
        padding: 6px 8px;
      }
      &[type="color"] {
        min-height: 48px;
      }
    }
  }
}
